.container.testimonial__container{
   width: 40%;
}

.client_avatar{
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);    
    border-radius: 50%;
}

.testimonial{
    background: var(--color-primary-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
}
.client__review{
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

@media screen and (max-width: 1024px) {
    .container.testimonial__container{
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    .container.testimonial__container{
        width: var(--container-widht-sm);
    }
}