.container.testimonial__container{
   width: 40%;
}

.client_avatar{
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color);    
}

.testimonial{
    background: var(--color-primary-variant);
    text-align: center;
    padding: 2rem;

}